.body_backgorund 
{
    background-image:url(download.jpg);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
#myCanvas
{
    background-image:url(envelope.gif);
    background-color:black;
    opacity:0.9;
}

